<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Usuario -->
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <!-- Contraseña -->
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <!-- Botón de registro -->
  <ion-button expand="full" (click)="signup()">Registrar</ion-button>

  <!-- Mensajes -->
  <p *ngIf="message" class="success">{{ message }}</p>
  <p *ngIf="message" class="error">{{ message }}</p>


  <!-- Enlace a login -->
  <ion-button fill="clear" routerLink="/login">Ya tengo cuenta</ion-button>

</ion-content>
