<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">

    <!-- Avatar -->
    <ion-avatar>
    <img src="assets/icon/favicon.png" alt="Avatar de usuario" />
    </ion-avatar>

    <h2>Bienvenido 👤</h2>
    <p>Aquí puedes ver tu información de usuario.</p>

    <ion-button expand="block" color="danger" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
