<ion-header>
  <ion-toolbar>
    <ion-title>{{ product?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img [src]="product?.image" alt="{{ product?.name }}" />

  <h2>{{ product?.name }}</h2>
  <p>{{ product?.price | currency:'COP':'symbol-narrow' }}</p>

  <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="quantity" min="1"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addToCart(product)">Agregar al carrito</ion-button>
  <ion-button expand="block" fill="clear" (click)="goToCart()">Ir al carrito</ion-button>
</ion-content>
