<ion-header>
  <ion-toolbar color="light">
    <ion-title>TecnoWeb!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="products-grid">
    <ion-card *ngFor="let product of products" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" />
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>
          {{product.price}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" (click)="addToCart(product)">
          Agregar al carrito
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
