<ion-header>
  <ion-toolbar color="light">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="content-wrapper">
    <div class="login-card">
      <h4 class="card-title">Ingrese sus credenciales</h4>

      <ion-item>
        <ion-input [(ngModel)]="username" placeholder="Usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <div class="buttons">
        <ion-button expand="block" (click)="login()">Ingresar</ion-button>
        <ion-button fill="outline" routerLink="/signup">Crear cuenta</ion-button>
      </div>

      <p *ngIf="error" class="error">{{ error }}</p>
    </div>
  </div>
</ion-content>
